<% include partials/header %>
	<h1>Add New Item</h1>
	<form action="/add" method="POST">
		<div>
			<label>Name</label>
			<input type="text" name="name">
		</div>
		<div>
			<label>Quantity</label>
			<input type="text" name="quantity">
		</div>
		<div>
			<label>Amount</label>
			<input type="text" name="amount">
		</div>
		<input type="submit" name="save" value="Save">
	</form>
<% include partials/footer %>