<% include partials/header %>
	<h1>Edit Item <%= JSON.stringify(id)%></h1>
	<form action="/update/<%= id%>" method="POST">
		<div>
			<label>Name</label>
			<input type="text" name="name" value="<%= JSON.stringify(name)%>">
		</div>
		<div>
			<label>Quantity</label>
			<input type="text" name="quantity" value="<%= JSON.stringify(quantity)%>">
		</div>
		<div>
			<label>Amount</label>
			<input type="text" name="amount" value="<%= JSON.stringify(amount)%>">
		</div>
		<input type="submit" name="save" value="Save">
	</form>
</body>
</html>