<% include partials/header %>
	<h1>Items</h1>
	<a href="/add">Add New Item</a>
	<table>
		<th>ID</th>
		<th>Name</th>
		<th>Quantity</th>
		<th>Amount</th>

		<% data.forEach(function(r) { %>
			<tr>
				<td><%= r.id %></td>
				<td><%= r.name %></td>
				<td><%= r.quantity %></td>
				<td><%= r.amount %></td>
				<td><a href='/update/<%= r.id %>'>Edit</a></td>
				<td><a href='/delete/<%= r.id %>'>Delete</a></td>
			</tr>
		<% }); %>
	</table>
</body>
</html>